<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>


    
<ion-content [fullscreen]="true">
  <br><br>
      <div style="display: flex; justify-content: center;">
        <img width="200px" [src]="'assets/logo-duoc.png'" alt="Descripción de la imagen">
      </div>
      
  <br><br>



      <div class="contraseña">
        <ion-input class="texto" type="texto"    placeholder="Duoc@.cl" >Email:</ion-input>
        <br>
        <ion-input class="texto" type="password" placeholder="*****"  >Contraseña Nueva:</ion-input>
        <p>min 8 caracteres, una mayuscula y dos numeros</p>
        <br>
        <ion-input class="texto" type="password" placeholder="*****">Repetir Contraseña:</ion-input>
      </div>


      <br>

      <div style="text-align:center">
        <ion-button class="boton" (click)="mostrarMensajeContrasenaCambiada()" color="warning">Confirmar</ion-button>
        <ion-button class="boton"  color="warning">Limpiar campos</ion-button>
      </div>
  


      <div id="mensajeCambioContrasena" class="mensaje"></div>

</ion-content>
