<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">ResetPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-toolbar>
      <div class="contraseña">
        <ion-input class="pass" type="password" [(ngModel)]="password">Contraseña Nueva:</ion-input>
        <br>
        <ion-input class="repitpass" type="password" [(ngModel)]="password">Repetir Contraseña Nueva:</ion-input>
      </div>
      <br>
   <ion-button class="boton" (click)="animar()" color="warning">Confirmar</ion-button>
   <ion-button class="boton" (click)="limpiarCampos()" color="warning">Limpiar campos</ion-button>




    </ion-toolbar>
  
</ion-content>
