.contraseña {
    color: red;
}
ion-content {
    --background:url(../reset-password/img/fondoreset.png);
    --color: #fff;
    --margin: 10px;
}

ion-toolbar{
    --ion-toolbar-background: var(--morado-duoc);
}