<ion-content  style="text-align: center;">
  <br>  
  <img class="blanco" src="assets/blanco.png" alt="" width="80%" style="margin: 10%;" >
  </ion-content>
  <h1 class="tex" style="text-align: center;">¡Bienvenido!</h1>
  <h6 class="tex" style="text-align: center;">Ingrese sus credenciales DUOC UC para ingresar.</h6>
<br>
  <ion-list class="lista">
    <ion-item>
      <ion-input id="usuario" [(ngModel)]="usuario" class="shake texto" labelPlacement="floating" placeholder="ej.ejemplo">
        <div slot="label">
          <ion-text class="texto">Usuario</ion-text>
        </div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="contrasena" [(ngModel)]="contrasena" class="shake texto" type="password" labelPlacement="floating" placeholder="**********">
        <div slot="label">
          <ion-text class="texto">Contraseña</ion-text>
        </div>
      </ion-input>
    </ion-item>
  </ion-list>
  <br>
  <ion-text style="text-align: center;">
    <a href="/reset-password" style="display: block; width: 100%;">¿Olvidaste tu contraseña?</a>
  </ion-text>  
  <br>
  <ion-button style="margin: 10px;" expand="block" class="botones" color="amarillo-duoc" (click)="ingresar()"><b>Ingresar</b></ion-button>
  <ion-button style="margin: 10px;" expand="block" class="botones" color="amarillo-duoc" (click)="animarLimpiar()"><b>Limpiar</b></ion-button>
  <br>
<ion-footer  collapse="fade">
  <ion-toolbar  class="ion-text-center">
    <img src="assets/footer.png" style="width: 20%;" >
  </ion-toolbar>