<ion-content style="text-align: center;">
  <div class="imagen">
    <img src="../../assets/logo-duoc.png" alt="">
  </div>
  <div class="bienvenida">
    <h1 class="texto" style="text-align: center;">Registra tu usuario </h1>
    <h6 class="texto" style="text-align: center;">Ingrese sus datos para registrar su usuario.</h6>
  </div>
  <br>
  <ion-list class="lista">
    <form [formGroup]="formRegistro">
      <!-- Rut -->
      <ion-item class="texto">
        <ion-input maxlength="8" formControlName="rut" labelPlacement="floating" placeholder="sin puntos ni DV">
          <div slot="label">
            <ion-text class="texto">Rut</ion-text>
          </div>
        </ion-input>
        <br>
        <ion-input maxlength="1" formControlName="dvrut" labelPlacement="floating" placeholder="K">
          <div slot="label">
            <ion-text class="texto">DvRut</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item class="texto">
        <ion-input type="email" formControlName="email" labelPlacement="floating" placeholder="ejemplo@duocuc.cl">
          <div slot="label">
            <ion-text class="texto">Email</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="texto">
        <ion-input formControlName="contrasena" type="password" labelPlacement="floating" placeholder="**********">
          <div slot="label">
            <ion-text class="texto">Contraseña</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <!-- Primer Nombre -->
      <ion-item class="texto">
        <ion-input formControlName="pnombre" labelPlacement="floating" placeholder="Juan">
          <div slot="label">
            <ion-text class="texto">Primer Nombre</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <!-- Apellido Paterno -->
      <ion-item class="texto">
        <ion-input formControlName="appaterno" labelPlacement="floating" placeholder="Pérez">
          <div slot="label">
            <ion-text class="texto">Apellido Paterno</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <ion-list *ngIf="rutError || dvrutError || emailError || contrasenaError || pnombreError || appaternoError">
        <ion-item *ngIf="rutError">
          <ion-label color="danger">{{ rutError }}</ion-label>
        </ion-item>

        <ion-item *ngIf="dvrutError">
          <ion-label color="danger">{{ dvrutError }}</ion-label>
        </ion-item>

        <ion-item *ngIf="emailError">
          <ion-label color="danger">{{ emailError }}</ion-label>
        </ion-item>

        <ion-item *ngIf="contrasenaError">
          <ion-label color="danger">{{ contrasenaError }}</ion-label>
        </ion-item>

        <ion-item *ngIf="pnombreError">
          <ion-label color="danger">{{ pnombreError }}</ion-label>
        </ion-item>

        <ion-item *ngIf="appaternoError">
          <ion-label color="danger">{{ appaternoError }}</ion-label>
        </ion-item>
      </ion-list>



    </form>
  </ion-list>

  <br>


  <br>
  <ion-button style="margin: 10px;" expand="block" class="botones" color="amarillo-duoc" (click)="registrarUsuario()"
    type="submit" [disabled]="!formRegistro.valid">
    <b>Registrar</b>
  </ion-button>

  <ion-button style="margin: 10px;" expand="block" class="botones" color="amarillo-duoc" (click)="animarLimpiar()">
    <b>Limpiar</b>
  </ion-button>

  <ion-button style="margin: 10px;" expand="block" class="botones" color="amarillo-duoc" [routerLink]="['/login']">
    <b>Volver</b>
  </ion-button>
</ion-content>