ion-toolbar{
    --ion-toolbar-background: var(--morado-duoc);
}

ion-content {
    --background: url(../../assets/fond.png) no-repeat center center fixed;
    background-size: cover;
  }

  .mi-ion-select ion-select-option {
    background-color: black !important; /* Cambia el color de fondo a negro */
    color: white !important; /* Cambia el color de texto a blanco */
  }
  
  
  
  
  