<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center titulo">Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <img src="../../assets/logo-duoc.png" style="width: 66%; margin-left: 60px;" alt="">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <ion-item >
      <ion-select formControlName="asignatura" label="Asignatura" style="color: black;" placeholder="Seleccionar">
        <ion-select-option value="Arquitectura">Arquitectura</ion-select-option>
        <ion-select-option value="Calidad de Software">Calidad de Software</ion-select-option>
        <ion-select-option value="Inglés">Inglés</ion-select-option>
        <ion-select-option value="Portafolio Final">Portafolio Final</ion-select-option>
        <ion-select-option value="Programación Aplicaciones Móviles">Programación Aplicaciones Móviles</ion-select-option>
      </ion-select> 
    </ion-item>

    <ion-datetime formControlName="fecha" style="background-color:black; border-radius: 15px; margin-left: 30px; margin-top: 10px;" ></ion-datetime>
  
  
    <ion-item>
      <ion-label>Sección</ion-label>
      <ion-input formControlName="seccion" type="text"></ion-input>
    </ion-item>
  
    <ion-button expand="full" type="submit">Enviar</ion-button>
  </form>
  
</ion-content>