<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ver-asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="obtenerDatos()" type="submit">Obtener Datos</ion-button>
  <ion-button (click)="home()">Volver a Menú</ion-button>

  <ion-list>
    <ion-item *ngFor="let asistencia of datosAsistencia">
      {{ asistencia.correo }}/{{ asistencia.fecha }}/{{ asistencia.asignatura }}/{{ asistencia.seccion }}
    </ion-item>
  </ion-list>
</ion-content>
