ion-toolbar{
    --ion-toolbar-background: var(--morado-duoc);
}

.centrado-de-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.header-row{
    border-bottom: 2px solid black;
}

.data-row{
    border-bottom: 0.5px solid black;
}